<div class="wonderland">
	<h2>Included <span class="green">Components</span></h2>
	<hr />
	<br />
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "team.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Team Management</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "tasks.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Task Management</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "notifications.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Notifications</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "documents.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Document management</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "contracts.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Contracts</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "contract-jobs.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Contracts jobs</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "comments.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Comments</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "ratings.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Ratings</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "vendors.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Vendor Management</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "controls.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Access Control</h5>
			</div>			
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "bookings.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Bookings</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "listings.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Listings</h5>
			</div>		
		</div>

	</div>
		
	<br />
	<hr />
	<br />
</div>
