<!-- Header -->
<header>
	<h1>
		<a href="/">
			<i class="fa fa-step-forward"></i>
			<br>
			Manage Property
		</a>
	</h1><!-- <i>&infin;</i> -->
	<p>Everything you need to kick start <span>more than 12 components</span> that makes Managing Real Estate Properties <span>Faster &amp; Easier</span></p>
	<!--	<h2>370+ UI Components</h2> -->
</header>
		
<div class="features">
		
	<h2>MAIN <span class="green">FEATURES</span></h2>
			
	<br />
	<hr />
		
	<div class="container-fluid">
		<div class="row">
				
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-dollar"></i></span>
						<br>
						3 Months Free Trial
					</h2>
					<p>Try for 3 months risk free &amp; all its features included, no setup fees, no contracts to worry about.</p>
				</div>
			</div>
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-arrows"></i></span>
						<br>
						All in one place
					</h2>
					<p>Manage everything in one convinient place. All communications are designed focusing clarity, transparency and traceability.</p>
				</div>
			</div>
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-tablet"></i></span>
						<br>
						Fully Responsive
					</h2>
					<p>All Components work great on Desktops, Laptops, Tablets and Smart Phones.</p>
				</div>
			</div>
					
		</div>
		<div class="row">
				
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-plus"></i></span>
						<br>
						12+ Components
					</h2>
					<p>Twelve + individual components make sure you manage the properties based on best practices and industry experience.</p>
				</div>
			</div>
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-check"></i></span>
						<br>
						Easy to Use
					</h2>
					<p>Application is built as self-service easy to use web-application, </p>
				</div>
			</div>
			<div class="col-md-4">
				<!-- Features item -->
				<div class="f-item">
					<h2>
						<span class="green"><i class="fa fa-lock"></i></span>
						<br>
						Security
					</h2>
					<p>All designs are crafted by talented engineers with security in view. all texts including username/passwords  between Client/Server are encypted</p>
				</div>
			</div>
					
		</div>
	</div>
		
	<hr />
</div>
		
		
<div class="wonderland">
	<h2>Included <span class="green">Components</span></h2>
	<hr />
	<br />
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "team.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Team Management</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "tasks.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Task Management</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "notifications.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Notifications</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "documents.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Document management</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "contracts.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Contracts</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "contract-jobs.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Contracts jobs</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "comments.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Comments</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "ratings.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Ratings</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "vendors.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Vendor Management</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "controls.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Access Control</h5>
			</div>			
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "bookings.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Bookings</h5>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<%= image_tag "listings.jpg", class: "img-responsive", alt: ""%>
				</a>
				<h5>Listings</h5>
			</div>		
		</div>

	</div>
		
	<br />
	<hr />
	<br />
</div>
		
<!-- UI # -->
<div class="contact">
	<h2>
		Pricing 
		<span class="green">
			Plans
		</span>
	</h2>
</div>
<hr>
<div class="header2">
	<div class="ui-151">		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-sm-4">					
					<!-- Item -->
					<div class="ui-item">
						<!-- Heading -->
						<h2>3 Months Trial</h2>
						<h3>$00/Month</h3>
						<!-- Unordered list -->
						<ul class="list-unstyled">
							<li>All features included</li>
							<li>No setup fees</li>
							<li>No contract</li>
							<li>No credit card required</li>
							<li></li>
							<li></li>
						</ul>
						<!-- Button -->
						<a href="/users/sign_up" class="btn">Sign up</a>
					</div>					
				</div>
				<div class="col-md-4 col-sm-4">					
					<!-- Item -->
					<div class="ui-item">
						<!-- Star -->
						<div class="star">
							<i class="fa fa-star"></i>
						</div>
						<!-- Heading -->
						<h2>Individual Plan</h2>
						<h3>$29/Month</h3>
						<!-- Unordered list -->
						<ul class="list-unstyled">
							<li>1 Property</li>
							<li>Upto 49 units</li>
							<li>Additional units<br>$0.50/unit/month</li>
							<li>No contract</li>
							<li>No setup fee</li>
						</ul>
						<!-- Button -->
						<a href="/users/sign_up" class="btn">Sign up</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">					
					<!-- Item -->
					<div class="ui-item">
						<!-- Heading -->
						<h2>Corporate Plan</h2>
						<h3>$29/Month*</h3>
						<!-- Unordered list -->
						<ul class="list-unstyled">
							<li>$29/Month/Property</li>
							<li>Plus $0.30/month/unit</li>
							<li>Unlimited units/Property</li>
							<li>Unlimited Properties</li>
							<li></li>
							<li></li>
						</ul>
						<!-- Button -->
						<a href="/users/sign_up" class="btn">Sign up</a>
					</div>					
				</div>
			</div>
		</div>		
	</div>	
</div>
<br>
<!-- contacts information				 -->
<div class="contact">
	<h2>
		Contact 
		<!-- <span class="orange">
			{
			</span>
			or
			<span class="orange">
			}
		</span>  -->
		<span class="green">
			Us
		</span>
	</h2>
</div>
<hr>
<div class="header2">
	<!-- contacus starts -->
	<div class="container-fluid">
		<!-- UI # -->
		<div class="ui-301">			
			<div class="login-reg">
				<!-- Login Form -->
				<div class="login-reg-form">
					<!-- Form -->
					<!-- <form class="form-horizontal" role="form"> -->
						<%= form_for("/", html: {role: "form", class: "form-horizontal"}) do |f| %>
						<!-- Form Group -->
						<div class="form-group">
							<!-- Label -->
							<!-- <label for="user" class="col-sm-3 control-label">Full Name</label> -->
							<div class="col-md-offset-1 col-md-11 col-sm-12">
								<!-- Input -->
								<input type="text" class="form-control" id="user" placeholder="Enter Full Name">
							</div>
						</div>
						<div class="form-group">
							<!-- <label for="email" class="col-sm-3 control-label">Email</label> -->
							<div class="col-md-offset-1 col-md-11 col-sm-12">
								<input type="email" class="form-control" id="email" placeholder="Enter Email">
							</div>
						</div>
						<div class="form-group">
							<!-- <label for="phone" class="col-sm-3 control-label">Phone</label> -->
							<div class="col-md-offset-1 col-md-11 col-sm-12">
								<input type="phone" class="form-control" id="phone" placeholder="Enter Phone">
							</div>
						</div>
						<div class="form-group">
							<!-- <label for="message" class="col-sm-3 control-label">Message</label> -->
							<div class="col-md-offset-1 col-md-11 col-sm-12">
								<%= f.text_area :message, size: "40x8", class: "form-control", placeholder: "Enter Message Here ..."%>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<!-- Button -->
								<button type="submit" class="btn btn-green">Submit</button>&nbsp;
								<button type="submit" class="btn btn-white">Reset</button>
							</div>
						</div>
					<!-- </form> -->
					<% end %>
				</div>
			</div>					
		</div>
		<!-- contactus end -->	
	</div>
</div>
<br>

		
<!-- contact information -->
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>
		
<!-- Javascript files -->
<!-- jQuery -->
<!-- <script src="js/jquery.js"></script> -->
<!-- Bootstrap JS -->
<!-- <script src="js/bootstrap.min.js"></script> -->
<!-- Respond JS for IE8 -->
<!-- <script src="js/respond.min.js"></script> -->
<!-- HTML5 Support for IE -->
<!-- <script src="js/html5shiv.js"></script> -->
		
<script>
$(document).ready(function() {
	$(".totop").hide();
				
	$(window).scroll(function(){
		if ($(this).scrollTop() > 300) {
			$('.totop').fadeIn();
		} else {
			$('.totop').fadeOut();
		}
	});
	$(".totop a").click(function(e) {
		e.preventDefault();
		$("html, body").animate({ scrollTop: 0 }, "slow");
		return false;
	});
					
});
</script>
		
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-2402sdfsfs2184-11', 'auto');
ga('send', 'pageview');

</script>