<p id="notice"><%= notice %></p>

<p>
  <strong>Contactable:</strong>
  <%= @contact.contactable %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @contact.fax %>
</p>

<p>
  <strong>Website:</strong>
  <%= @contact.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @contact.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @contact.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @contact.linkedin %>
</p>

<p>
  <strong>Googleplus:</strong>
  <%= @contact.googleplus %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
